
/* Your Code Goes Here */
body {
    color: #222222;
    font-family: 'Roboto', Arial, sans-serif;
    max-width:1024px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display:flex;
    flex-direction:column;
    align-self: center;
    justify-self: center;
}

.hall-image {
    z-index: 5;
    position: absolute;
    top: 0;
}
.navbar {
    height: auto;
    display:flex;
    margin: 10px;
    z-index: 18;
    position: fixed;
    top: 0;
}
.home-link {
    width: 600px;
    color: white !important;
    padding: 15px 55px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;

}
.btn-group {

    z-index: 20;
}
.dropdown-toggle {
    background-color: transparent;
}
.dropdown {
    margin: 10px 20px;
    width: 600px;
    display:flex;
    justify-content: flex-end;

}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(128, 146, 151); /* Black background with opacity */
    opacity: 0.9;
    z-index: 20; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
.main-header {
    color: white;
    z-index:5;
    position: relative;
    font-family: 'Roboto';
    font-weight: bolder;
    line-height: 1.25;
    font-size: 64px;
    height: 460px;
    display: flex;
    align-items: flex-end;
    margin: 30px;
    padding: 30px;
}

.dropdown-item {
    font-weight: bold;
    font-size: 48px;
    line-height: 85px;
    color: white;
}
.dropdown-item:hover {
    color: #222222;
}

.dropdown-item-wrapper {
    display:flex;
    flex-direction:column;
    opacity: 1;
}

.dropdown-top {
    display:flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
    padding: 40px;
}

.dropdown-link-wrapper {
    display:flex;
    flex-direction:column;
    opacity: 1;
    align-items: center;
    justify-content: center;
}

.close {
    height: 30px;
    z-index: 25;
    position: absolute;
    top: 30px;
    right: 30px;
    opacity: 1;
}

.root {
    display: flex;
    flex-direction: column;
}

.slug-and-img {
    display: flex;
    margin: 50px 15px ;
    font-size: 16px;
}

.slug {
    padding: 10px;
    margin: 15px;
    width: 50%;
}

.head {
    margin-bottom: 25px;
}

.button {
    border: 1px solid #222222;
    height: 50px;
    width: 150px;
    margin-top: 25px;
    padding: 10px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 50%;
}

.head-1 {
    margin: 25px;
    width: 100%;
}

.highlight-p {
    width: 355px;
    margin: 50px 0px 0px 50px;
    position: initial;
}
.highlight-p-2 {
    width: 355px;
    margin: 20px 0px 0px 50px;
    position: initial;

}

.projects {
    width: 100%;
    display:flex;
    flex-direction: column;
}
.description {
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-bottom: 25px;
}
.highlight-box {
    background-color: #D8D8D8;
    color: #222222;
    border: 1px solid white;
    height: 75px;
    width: 25%;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size: 18px;
    letter-spacing: .5ch;
    position: relative;
    float:right;
    bottom: 0;
    margin-top: 250px;
}

.highlight-box-2 {
    background-color: #D8D8D8;
    color: #222222;
    border: 1px solid white;
    height: 75px;
    width: 25%;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size: 18px;
    letter-spacing: .5ch;
    position: relative;
    margin-top: 265px;
}
.abs {
    position: absolute;
}

.footer {
    background-color: #828282;
    color: white;
    line-height: 26px;
    display: flex;
    width: 100%;
    padding: 50px;
}
.address {
    display: flex;
    width: 50%;
    padding-left: 25px;
    margin-left: 25px;
}

.address-detail {
    width: 300px;
    padding-left: 35px;
    margin-left: 25px;
    line-height: 1.75;
}
.copyright {
    display: flex;
    justify-content: center;
    background-color: #828282;
    color: white;
    font-size: 10px;
    padding-bottom: 10px;
}
.address-font {
    font-size: 11px;
}

.never {
    font-size: 11px;
}

.input {
    width: 200px;
}



