body {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  width: 100%;
  font-family: 'Roboto', 'Arial',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.home-header {
  width: 100%;
  height: 700px;
  background-image: url("../src/img/home/home-jumbotron.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: white;
  margin:0;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
 
}


.services-header {
  width: 100%;
  height: 300px;
  background-image: url("../src/img/services/services-jumbotron.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: white;
  margin:0px;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home-header-nav .dropdown {
  display:flex;
  justify-content: flex-end;
}




.contact-header {
  width: 100%;
  height: 300px;
  background-image: url("../src/img/contact/contact-jumbotron.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: white;
  margin:0px;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
}

.home-header-nav {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: flex-start;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: bold;
}

.home-header-nav a {
  width: 50%;
}

.navbar {
  overflow: hidden;
  font-family: 'Roboto';
  background-color: transparent;
}

.navbar a {
  display:flex;
  align-items: flex-start;
  font-size: 1.6em;
  color: white;
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
.dropdown {
  overflow: hidden;
  width: 50%;
  display:flex;
  justify-content: flex-end;

}

.dropdown .dropbtn {
  font-size: 1.6em;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  font-family: inherit;
  margin: 0;
  z-index: 1000;


}


.dropdown-content {
  background-color: rgba(150, 161, 170, 0.7);
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  font-size: 48px;
  z-index: 2;
  padding-top: 100px;
  vertical-align: middle;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-content a {
  font-size: 48px;
  text-align: left;
  width: 100px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.dropdown-content a:hover {
  color: #222222;
}

.logo {
  text-decoration: none;
  color: white;
}

.closed {
  background-image: url("./img/nav-hamburger-close.png");
}

.hamburgerMenu {
  background-image: url("./img/nav-hamburger.png");
}

.slug-line {
  width: 50%;
  height: 40%;
  display: flex;
  align-items: flex-end;
  text-align: left;
  font-size: 64px;
  line-height: 75px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about {
  display:flex;
  justify-content: space-around;
  margin: 60px auto;
  padding-bottom: 60px;
  width: 100%;
}

.about-text {
  width: 50%;
  margin: 0px 20px;
  text-align: left;
}

.about-text h1 {
  margin: 0;
}

.about-text img {
  width: 100%;
}

.about-text p {
  font-size: 1.2em;
  margin: 40px 0px;
}

.about-button {
  border: 1px solid #222222;
  width: 33%;
  padding: 20px;
  text-align:center;
}

.recent-projects {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  margin: 20px;
}

.recent-project {
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.recent-project img{
  width: 100%;
  position: relative;
}

.recent-project h2 {
  position: absolute; 
  height: 100px;
  margin-top: -60px;
  margin-bottom: 50px;
  width: 400px; 
  display:flex;
  justify-content: center;
  align-items: center;
  background: #D8D8D8;
  border: 1px solid white;
}

.recent-project h2 span { 
  color: white; 
  font-family: 'Roboto';
  letter-spacing: 15px;  
  font-weight: lighter;
  color: black;
  padding: 10px; 
}

.recent-project .left-span {
  position: absolute; 
  height: 100px;
  margin-top: -60px;
  width: 400px; 
  display:flex;
  justify-content: center;
  align-items: center;
  background: #D8D8D8;
  border: 1px solid white;
}

.recent-project p {
  width: 40%;
  text-align: left;
  padding: 0px auto;
}

.recent-project-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px auto 0px auto;
  margin-top: 80px;
}

.footer-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #9e9898;
  color: white;
  height: auto;
  padding: 30px;
}

.footer {
  display: flex;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 20px;
  margin-left: 30px;
  width: 35%;
}

.address {
  display: flex;
  width: 65%;
  padding: 30px;
  line-height: 25px;
  justify-content: space-around;
}

.address-detail {
  text-align: left;
}

.input {
  width: 70%;
  height: 40px;
}

.services-container {
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.services-container .services-p-tab {
  width: 75%;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  line-height: 30px;
  margin: 40px auto;
}


.pill-container {
  width: 100%;
  margin: 40px auto;
}
.nav-pills {
  display: flex;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

.pills {
  display: flex;
  background-color: white;
  color: black;
  width: 210px;
  border-radius: 0 !important;
  border: 1px solid black;
  margin-right: 20px;
  font-size: 1.6em;
  text-align: center;
  font-weight: bold;
}

.tab-content {
  margin: 40px 0px;
}

.tab-content>.active {
  display:flex;
}
.tab-pane {
  width: 100%;
  display:flex;
  justify-content: space-between;
}
.tab-pane img {
  width: 50%;
}
.tab-head-p {
  width: 45%;
}


